<footer class="site-footer container-fluid">
    <div class="contact-wrapper row justify-content-center">
        <div class="contact col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
            <!-- <a class="cursive" href="{{ site.url }}contact">Contacto</a> -->
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | prepend: site.url }}"></script>
    <script src="{{ "js/jquery-3.6.0.min.js" | prepend: site.url }}"></script>
    <script src="{{ "js/instagramFeed.js" | prepend: site.url }}"></script>
    <script>
        (function(){
            $(window).on('load', function(){
                var username = "{{page.instagram}}"; 
                var myRegexp = /(?:(?:http|https):\/\/)?(?:www\.)?(?:instagram\.com|instagr\.am)\/([A-Za-z0-9-_\.]+)/im;
                var match = myRegexp.exec(username);
                // start modified instagram feed script
                        $.instagramFeed({

                            'username': match[1],
                            'container': "#instagram-feed",
                            'display_profile': true,
                            'display_biography': true,
                            'display_gallery': true,
                            'get_raw_json': false,
                            'callback': null,
                            'styling': true,
                            'items': 36,
                            'items_per_row': 6,
                            'margin': 0.3
                        });
                    });

            $('.hero').css({
                background: '{{ page.color }}'
            });

            // get clip img element and remove opacity to allow video to show
            $('.clip-link').hover( 
                function() {
                    $('.clip img').addClass('fadeOut');
                    $('.clip video').css({
                        opacity:1
                    });

                    $('.clip img').removeClass('fadeIn');
                },
                function() {
                    $('.clip img').addClass('fadeIn');

                    $('.clip img').removeClass('fadeOut');
                });

            // youtube videos
            var channelID = "{{ page.youtube_id }}";
            var reqURL = "https://www.youtube.com/feeds/videos.xml?channel_id=";
            $.getJSON("https://api.rss2json.com/v1/api.json?rss_url=" + encodeURIComponent(reqURL)+channelID, function(data) {
                for (var i = 0; i <= 3; i++) {

                    $("#youtube-wrapper").append('<div class="col-lg-3"><div class="ratio ratio-16x9"><iframe id="youtube_video_' + i + '"class="video-iframe" allowfullscreen></iframe></div></div>');

                    var link = data.items[i].link;
                    var id = link.substr(link.indexOf("=")+1);   
                    $("#youtube_video_" + i).attr("src","https://youtube.com/embed/"+ id + "?controls=0&showinfo=0&rel=0");
                }
            });
        })();
    </script>
</footer>