<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% assign non_active_streamers = site.data.streamers | where: "active", 0 %}


  {% assign streamer_name = page.name | downcase %}

  {% for streamer in non_active_streamers %}
    {% if streamer.name contains streamer_name %}
      {% assign active = 0 %}
    {% endif%}
  {% endfor %}

  {% if active == 0 %}
  <meta name="robots" content="noindex, nofollow">
  <meta http-equiv="Refresh" content="0; URL={{ site.url }}">
  {% endif %}
  <link rel='shortcut icon' type='image/x-icon' href="{{"img/favicon.ico" | prepend: site.url}}" />
  {% if page.url == "/" %}
  <title>{{site.title}}</title>
  {% else %}
  <title>{{page.name}} en {{site.title}}</title>
  {% endif %}
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="twitter:card" content="summary" />
  {% if page.url == "/" %}
  <meta name="twitter:site" content="@noncasus" />
  {% else %}
  <meta name="twitter:site" content="@{{ page.social_networks.twitter }}" />
  {% endif %}
  <meta name="twitter:creator" content="@noncasus" />

  {% if page.url == "/" %}
  <meta property="og:url" content="https://www.nonlyfans.tv/" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.url }}img/nonlyfans_twitter.png" />
  {% else %}
  <meta property="og:url" content="{{ site.url }}{{ page.name }}" />
  <meta property="og:title" content="{{ page.name }}" />
  <meta property="og:description" content="{{ page.twitter_description }}" />
  <meta property="og:image" content="{{ site.image_path | prepend: site.url }}{{ page.name | downcase}}-profile.png" />
  {% endif %}
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> -->
  <link rel="stylesheet" href="{{ "css/bootstrap-reboot.min.css" | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "css/style.css" | prepend: site.url }}">
</head>