{% if page.instagram %}
<div class="instagram-grid-wrapper row justify-content-center">
	<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
		{% if page.name == "1UpGamingMx" %}
		<h2 class="instagram-grid-title">Nuestro <span class="cursive">Instagram</span></h2>
		{% else %}
		<h2 class="instagram-grid-title">Mi <span class="cursive">Instagram</span></h2>
		{% endif %}
		<div id="instagram-feed" class="instagram_feed"></div>
	</div>
</div>
{% endif %}
{% if page.youtube %}
<div id="youtube-container" class="youtube-grid-wrapper row justify-content-center">
	<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
		{% if page.name == "1UpGamingMx" %}
		<h2 class="youtube-grid-title">Nuestro <span class="cursive">Youtube</span></h2>
		{% else %}
		<h2 class="youtube-grid-title">Mi <span class="cursive">Youtube</span></h2>
		{% endif %}
		<div class="youtube-feed">
			<div id="youtube-wrapper" class="row"></div>
		</div>
	</div>
</div>
{% endif %}
<div class="other-social-wrapper row justify-content-center">
	<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
		{% if page.social_networks == nil %}

		{% elsif page.instagram and page.name == "1UpGamingMx" %}

		<h2 class="other-social">Nuestras Otras Redes <span class="cursive">Sociales</span></h2>
		
		{% elsif page.instagram == nil and page.name == "1UpGamingMx" %}

		<h2 class="other-social">Nuestras Redes <span class="cursive">Sociales</span></h2>

		{% elsif page.instagram %}

		<h2 class="other-social">Mis Otras Redes <span class="cursive">Sociales</span></h2>

		{% else %}

		<h2 class="other-social">Mis Redes <span class="cursive">Sociales</span></h2>

		{% endif %}

		<!-- Social Networks -->
		{% for social_network in page.social_networks %}
		{% assign remainder = forloop.index | modulo: 2 %}
			{% if remainder == 1 or forloop.first == true %}
		<div class="row">
			{% endif %}
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-other-social="{{ social_network[0] }}">
				<div class="row justify-content-center">
					<div class="col-8 other-social-element" style="background-color: {{ page.color }}">
						{% if social_network[0] == 'twitter' %}
						<a href="https://twitter.com/{{ social_network[1] }}" target="_blank">{{ social_network[0] }}</a>
						{% else %}
						<a href="{{ social_network[1] }}" target="_blank">{{ social_network[0] }}</a>
						{% endif %}
					</div>
				</div>
        	</div>
			{% if remainder == 0 or forloop.last == true %}
		</div>
			{% endif %}
		{% endfor %}
</div>
<div class="other-links-wrapper row justify-content-center">
	<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
		<h2 class="other-links">Otros <span class="cursive">Links</span></h2>
		<!-- Other Links -->
		{% for other_link in page.other_links %}
		{% assign remainder = forloop.index | modulo: 2 %}
			{% if remainder == 1 or forloop.first == true %}
		<div class="row">
			{% endif %}
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="row justify-content-center">
					<div class="col-8 other-social-element" style="background-color: {{ page.color }}">
						<a href="{{ other_link[1] }}" target="_blank">{{ other_link[0] | replace: "_", " "}}</a>
					</div>
				</div>
        	</div>
			{% if remainder == 0 or forloop.last == true %}
		</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
</div>