---
layout: default
---
			<div class="row">
				<div class="hero-wrapper col-md-12">
					<div class="hero row justify-content-center" data-streamer="lydiapudin_">
						<div class="col-xl-12 col-lg-12 col-md-10 col-sm-10">
							<div class="row justify-content-center">
								<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
									<div class="streamer-profile-pic">
										<a href="{{ page.twitch }}" target="_blank"><img src="{{ site.image_path | prepend: site.url }}{{ page.name | downcase}}-profile.png"></a>
									</div>
									<h1 class="streamer-name"><a href="{{ page.twitch }}" target="_blank">{{ page.name }}</a></h1>
								</div>

								<div class="clip col-xl-6 col-lg-10 col-md-12 col-sm-12">
									<a class="clip-link" href="{{ page.clip }}" target="_blank">
										<img src="{{ site.image_path | prepend: site.url }}{{ page.name | downcase}}.jpg">
										<video loop autoplay muted="muted">
											<source src="{{ site.clip_path | prepend: site.url }}{{ page.name | downcase }}.mp4" type="video/mp4">
										</video>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="hero-bottom row">
						<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
							<div class="streamer-phrase">
								<span>"{{ page.phrase }}" - {{ page.name }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="about-section row justify-content-center">
				<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">

					{{ content }}

				</div>
				{% if page.allow_emotes == 1 %}
				<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
					{% if page.name == "1UpGamingMx" %}
					<h2>Nuestros <span class="cursive">Emotes</span></h2>
					{% else %}
					<h2>Mis <span class="cursive">Emotes</span></h2>
					{% endif %}
					{% assign emote_owner_dir = "/img/emotes/" | append: page.name | append:"/" | downcase %}
					{% include emotes-gallery.html folder=emote_owner_dir %}

				</div>
				{% endif %}
			</div>
			{% include social.html %}